In [25]:
import pandas as pd

# Read the text file into a DataFrame
path_to_txt = "database/data/UIU_question_answer_raw.txt"
data = pd.read_csv(path_to_txt, sep="\t", names=['Q&A'])

data

                                                   Q&A
0    আন্ডারগ্রাডুইয়েট ডিগ্রিতে ইউ আই ইউ কি কি প্রোগ...
1    আন্ডারগ্রাডুইয়েট ডিগ্রিতে ইউ আই ইউ ইইই, কম্পিউ...
2           আন্ডারগ্রাডুয়েটে কি কি প্রোগ্রাম অফার করে?
3    আন্ডারগ্রাডুইয়েট ডিগ্রিতে ইউ আই ইউ ইইই, কম্পিউ...
4                আন্ডারগ্রাডুয়েটে কি কি প্রোগ্রাম আছে?
..                                                 ...
195          আন্ডারগ্রাডুয়েটে মোট ১২ টা সেমিস্টার লাগে
196             প্রত্যেক সেমিস্টারে কত টাকা দিতে হবে?
197                 বিস্তারিত জানতে ওয়েবসাইট দেখতে হবে
198                                   সেমিস্টার ফি কত?
199                 বিস্তারিত জানতে ওয়েবসাইট দেখতে হবে

[200 rows x 1 columns]

In [26]:
# Create two new columns for odd and even indexes
data['question'] = data['Q&A'][::2].reset_index(drop=True)  # odd indexes will be question
data['answer'] = data['Q&A'][1::2].reset_index(drop=True)   # even indexes will be answer

data

,Q&A,question,answer
0,আন্ডারগ্রাডুইয়েট ডিগ্রিতে ইউ আই ইউ কি কি প্রোগ...,আন্ডারগ্রাডুইয়েট ডিগ্রিতে ইউ আই ইউ কি কি প্রোগ...,"আন্ডারগ্রাডুইয়েট ডিগ্রিতে ইউ আই ইউ ইইই, কম্পিউ..."
1,"আন্ডারগ্রাডুইয়েট ডিগ্রিতে ইউ আই ইউ ইইই, কম্পিউ...",আন্ডারগ্রাডুয়েটে কি কি প্রোগ্রাম অফার করে?,"আন্ডারগ্রাডুইয়েট ডিগ্রিতে ইউ আই ইউ ইইই, কম্পিউ..."
2,আন্ডারগ্রাডুয়েটে কি কি প্রোগ্রাম অফার করে?,আন্ডারগ্রাডুয়েটে কি কি প্রোগ্রাম আছে?,"আন্ডারগ্রাডুইয়েট ডিগ্রিতে ইউ আই ইউ ইইই, কম্পিউ..."
3,"আন্ডারগ্রাডুইয়েট ডিগ্রিতে ইউ আই ইউ ইইই, কম্পিউ...",গ্রাডুয়েটে কি কি প্রোগ্রাম অফার করে?,"গ্রাডুয়েট ডিগ্রিতে এম বি এ, ইকনোমিক্স, কম্পিউট..."
4,আন্ডারগ্রাডুয়েটে কি কি প্রোগ্রাম আছে?,গ্রাডুয়েটে কি কি প্রোগ্রাম আছে?,"গ্রাডুয়েট ডিগ্রিতে এম বি এ, ইকনোমিক্স, কম্পিউট..."
...,...,...,...
195,আন্ডারগ্রাডুয়েটে মোট ১২ টা সেমিস্টার লাগে,NaN,NaN
196,প্রত্যেক সেমিস্টারে কত টাকা দিতে হবে?,NaN,NaN
197,বিস্তারিত জানতে ওয়েবসাইট দেখতে হবে,NaN,NaN
198,সেমিস্টার ফি কত?,NaN,NaN
199,বিস্তারিত জানতে ওয়েবসাইট দেখতে হবে,NaN,NaN

In [27]:
data = data.drop('Q&A', axis=1)                 # drop the Q&A column
data

,question,answer
0,আন্ডারগ্রাডুইয়েট ডিগ্রিতে ইউ আই ইউ কি কি প্রোগ...,"আন্ডারগ্রাডুইয়েট ডিগ্রিতে ইউ আই ইউ ইইই, কম্পিউ..."
1,আন্ডারগ্রাডুয়েটে কি কি প্রোগ্রাম অফার করে?,"আন্ডারগ্রাডুইয়েট ডিগ্রিতে ইউ আই ইউ ইইই, কম্পিউ..."
2,আন্ডারগ্রাডুয়েটে কি কি প্রোগ্রাম আছে?,"আন্ডারগ্রাডুইয়েট ডিগ্রিতে ইউ আই ইউ ইইই, কম্পিউ..."
3,গ্রাডুয়েটে কি কি প্রোগ্রাম অফার করে?,"গ্রাডুয়েট ডিগ্রিতে এম বি এ, ইকনোমিক্স, কম্পিউট..."
4,গ্রাডুয়েটে কি কি প্রোগ্রাম আছে?,"গ্রাডুয়েট ডিগ্রিতে এম বি এ, ইকনোমিক্স, কম্পিউট..."
...,...,...
195,NaN,NaN
196,NaN,NaN
197,NaN,NaN
198,NaN,NaN
199,NaN,NaN

In [32]:
print(data.isnull().sum())
data = data.dropna()
data

question    100
answer      100
dtype: int64

,question,answer
0,আন্ডারগ্রাডুইয়েট ডিগ্রিতে ইউ আই ইউ কি কি প্রোগ...,"আন্ডারগ্রাডুইয়েট ডিগ্রিতে ইউ আই ইউ ইইই, কম্পিউ..."
1,আন্ডারগ্রাডুয়েটে কি কি প্রোগ্রাম অফার করে?,"আন্ডারগ্রাডুইয়েট ডিগ্রিতে ইউ আই ইউ ইইই, কম্পিউ..."
2,আন্ডারগ্রাডুয়েটে কি কি প্রোগ্রাম আছে?,"আন্ডারগ্রাডুইয়েট ডিগ্রিতে ইউ আই ইউ ইইই, কম্পিউ..."
3,গ্রাডুয়েটে কি কি প্রোগ্রাম অফার করে?,"গ্রাডুয়েট ডিগ্রিতে এম বি এ, ইকনোমিক্স, কম্পিউট..."
4,গ্রাডুয়েটে কি কি প্রোগ্রাম আছে?,"গ্রাডুয়েট ডিগ্রিতে এম বি এ, ইকনোমিক্স, কম্পিউট..."
...,...,...
95,অনলাইন থেকে এডমিট কার্ড প্রিন্ট করতে পারব?,হ্যা
96,মোট কতটা সেমিস্টার লাগবে?,আন্ডারগ্রাডুয়েটে মোট ১২ টা সেমিস্টার লাগে
97,আন্ডারগ্রাডুয়েটে টোটাল কয়টা সেমিস্টার?,আন্ডারগ্রাডুয়েটে মোট ১২ টা সেমিস্টার লাগে
98,প্রত্যেক সেমিস্টারে কত টাকা দিতে হবে?,বিস্তারিত জানতে ওয়েবসাইট দেখতে হবে
99,সেমিস্টার ফি কত?,বিস্তারিত জানতে ওয়েবসাইট দেখতে হবে

In [33]:
data.to_csv('transcript_200.csv', index=False)  # Save the new dataframe into csv file 
data

,question,answer
0,আন্ডারগ্রাডুইয়েট ডিগ্রিতে ইউ আই ইউ কি কি প্রোগ...,"আন্ডারগ্রাডুইয়েট ডিগ্রিতে ইউ আই ইউ ইইই, কম্পিউ..."
1,আন্ডারগ্রাডুয়েটে কি কি প্রোগ্রাম অফার করে?,"আন্ডারগ্রাডুইয়েট ডিগ্রিতে ইউ আই ইউ ইইই, কম্পিউ..."
2,আন্ডারগ্রাডুয়েটে কি কি প্রোগ্রাম আছে?,"আন্ডারগ্রাডুইয়েট ডিগ্রিতে ইউ আই ইউ ইইই, কম্পিউ..."
3,গ্রাডুয়েটে কি কি প্রোগ্রাম অফার করে?,"গ্রাডুয়েট ডিগ্রিতে এম বি এ, ইকনোমিক্স, কম্পিউট..."
4,গ্রাডুয়েটে কি কি প্রোগ্রাম আছে?,"গ্রাডুয়েট ডিগ্রিতে এম বি এ, ইকনোমিক্স, কম্পিউট..."
...,...,...
95,অনলাইন থেকে এডমিট কার্ড প্রিন্ট করতে পারব?,হ্যা
96,মোট কতটা সেমিস্টার লাগবে?,আন্ডারগ্রাডুয়েটে মোট ১২ টা সেমিস্টার লাগে
97,আন্ডারগ্রাডুয়েটে টোটাল কয়টা সেমিস্টার?,আন্ডারগ্রাডুয়েটে মোট ১২ টা সেমিস্টার লাগে
98,প্রত্যেক সেমিস্টারে কত টাকা দিতে হবে?,বিস্তারিত জানতে ওয়েবসাইট দেখতে হবে
99,সেমিস্টার ফি কত?,বিস্তারিত জানতে ওয়েবসাইট দেখতে হবে